.body{
  padding:0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}
*{
  box-sizing: border-box;
  transition: all .3s;
  outline: none;
}
.big_frame{
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
}
.flexBox{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
}
.big_bg{
  background-color: #f1f1f1;
}
.bottom_graphix{
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.bottom_graphix > img{
  width: 100%;
}
.pmk_controller{
  width: 720px;
}
.pmk_title{
  width: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 3;
}
.upper_tab{
  background-color: #fff;
  border:1px solid #e1e1e1;
}
.upper_tab > .nav-pills{
  background-color: #333333;
  color: #fff;
}
.upper_tab > .nav-pills > li > a{
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  padding: 10px 9px;
  border-radius: 0px;
}

.upper_tab > .nav-pills>li.active>a, .upper_tab > .nav-pills>li.active>a:focus, .upper_tab > .nav-pills>li.active>a:hover, .upper_tab .nav>li>a:focus, .upper_tab .nav>li>a:hover{
  background-color: #ebc518;
  color: #333;
}
.lower_tab .nav-pills{
  background-color: #666666;
}
.lower_tab > .nav-pills > li > a{
  color: #f1f1f1;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  padding: 7px 10px;
  border-radius: 0px;
}
.lower_tab > .nav-pills>li.active>a, .lower_tab > .nav-pills>li.active>a:focus, .lower_tab > .nav-pills>li.active>a:hover, .lower_tab .nav>li>a:focus, .lower_tab .nav>li>a:hover{
  background-color: transparent;
  color: #fff;
  box-shadow: 0px -3px 0px #ebc518 inset; 
}
.outer_wrap{
  width: 100%;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
.wid50{
  width: 50%;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  box-sizing: border-box;
  padding:5px 20px;
}
.wid50:nth-last-child(1){
  margin-right: auto;
}
.rech_btn{
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #ebc518;
  border:none;
  border-radius: 2px;
  padding: 10px 15px;
}
.js_right{
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -moz-justify-content: flex-end;
}
.rech_btn_holder{
  width: 100%;
  padding: 20px 20px;
}
.wid75{
  width: 75%;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  box-sizing: border-box;
}
.wid25{
  width: 25%;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  box-sizing: border-box;
}
.shop_text{
  height: 50px;
  width: 100%;
  border:none;
  padding: 0px 20px;
  font-size: 16px;
}
.search_btn{
  padding: 5px;
  justify-content: flex-end;
}
.search_btn > button{
  background-color: #ebc518;
  border:none;
  border-radius:3px;
  padding: 10px 20px;
  font-weight: 400;
}
.navbar-default{
  background-color: transparent;
  border:none;
}