@import "breakpoints";
@import "variables";

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    outline: none;
}

.backgroundImage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    background-image: url('../images/background_alumfy.jpg');

    @include media-breakpoint-up(sm) {
        background-size: 150%;
    }

    @include media-breakpoint-up(lg) {
        background-size: 100%;
    }

    @include media-breakpoint-up(xl) {
        background-size: 100%;
    }
}

.topHeader {
    width: 100%;
    background-color: #fff;
    padding: 0px 30px;
    box-sizing: border-box;

    @include media-breakpoint-up(sm) {
        height: 77px;
    }

    @include media-breakpoint-up(lg) {
        height: 77px;
    }

    @include media-breakpoint-up(xl) {
        height: 115px;
    }

    .brandLogo {
        img {
            width: 100%;
        }

        @include media-breakpoint-up(sm) {
            width: 150px;
        }

        @include media-breakpoint-up(lg) {
            width: 150px;
        }

        @include media-breakpoint-up(xl) {
            width: 230px;
        }
    }

    @include flex;
    align-items: center;
}

.subHeader {
    width: 100%;
    background-color: #fff;
    padding: 0px 30px;
    @include flex;
    align-items: center;

    @include media-breakpoint-up(sm) {
        height: auto;
        flex-direction: column;
    }

    @include media-breakpoint-up(lg) {
        height: 130px;
        flex-direction: row;
    }

    @include media-breakpoint-up(xl) {
        height: 200px;
        flex-direction: row;
    }

    .loginBox {

        @include media-breakpoint-up(sm) {
            width: 100%;
        }

        @include media-breakpoint-up(lg) {
            width: 40%;
        }

        @include media-breakpoint-up(xl) {
            width: 40%;
        }

        h2 {
            margin: 0px;
            padding: 0px;
            font-weight: bold;
            font-size: 16px;
            color: #585858;
            padding-bottom: 10px;

            span {
                font-weight: normal;
            }
        }

        .formSection {
            width: 100%;
            @include flex;
            justify-content: space-between;
            align-items: flex-start;

            @include media-breakpoint-up(sm) {
                flex-direction: column;
            }

            @include media-breakpoint-up(lg) {
                flex-direction: row;
            }

            @include media-breakpoint-up(xl) {
                flex-direction: row;
            }

            .logData {
                width: 100%;
                padding-top: 10px;
                color: #16181d;

                @include media-breakpoint-up(sm) {
                    font-size: 11px;
                    text-align: left;
                }

                @include media-breakpoint-up(lg) {
                    font-size: 11px;
                    text-align: left;
                }

                @include media-breakpoint-up(xl) {
                    font-size: 13px;
                    text-align: left;
                }
            }

            .loginText {
                .logData {
                    // padding-left: 15px;
                }
            }

            .loginPass {
                .logData {
                    //padding-right: 15px;
                    text-align: right;

                    @include media-breakpoint-up(sm) {
                        text-align: left;
                    }

                    @include media-breakpoint-up(lg) {
                        text-align: right;
                    }

                    @include media-breakpoint-up(xl) {
                        text-align: right;
                    }

                    a {
                        color: #16181d;
                        text-decoration: none;
                    }
                }
            }

            .loginText,
            .loginPass {

                @include media-breakpoint-up(sm) {
                    width: 100%;
                }

                @include media-breakpoint-up(lg) {
                    width: 40%;
                }

                @include media-breakpoint-up(xl) {
                    width: 40%;
                }

                input[type=text],
                input[type=password] {
                    width: 100%;
                    background-color: #fff;
                    border: 2px solid #e1e1e1;
                    border-radius: 30px;
                    box-sizing: border-box;
                    font-family: 'Poppins', sans-serif;
                    width: 100%;

                    @include media-breakpoint-up(sm) {
                        padding: 8px 12px;
                        font-size: 12px;
                    }

                    @include media-breakpoint-up(lg) {
                        padding: 8px 15px;
                        font-size: 12px;
                    }

                    @include media-breakpoint-up(xl) {
                        padding: 10px 20px;
                        font-size: 13px;
                    }
                }
            }

            .logBtn {
                background-color: #002379;
                border: none;
                border-radius: 30px;
                color: #fff;
                font-family: 'Poppins', sans-serif;

                @include media-breakpoint-up(sm) {
                    padding: 10px 20px;
                    font-size: 12px;
                }

                @include media-breakpoint-up(lg) {
                    padding: 10px 25px;
                    font-size: 12px;
                }

                @include media-breakpoint-up(xl) {
                    padding: 12px 35px;
                    font-size: 13px;
                }
            }
        }
    }

    .signBox {
        margin-left: auto;
        @include flex;
        align-items: center;

        @include media-breakpoint-up(sm) {
            width: 100%;
            justify-content: center;
            padding-bottom: 20px;
        }

        @include media-breakpoint-up(lg) {
            width: 50%;
            justify-content: flex-end;
            padding-bottom: 0px;
        }

        @include media-breakpoint-up(xl) {
            width: 50%;
            justify-content: flex-end;
            padding-bottom: 0px;
        }

        span {
            color: #585858;

            @include media-breakpoint-up(sm) {
                font-size: 16px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 16px;
            }

            @include media-breakpoint-up(xl) {
                font-size: 24px;
            }
        }

        .logBtn {
            background-color: #002379;
            border: none;
            border-radius: 30px;
            color: #fff;
            font-family: 'Poppins', sans-serif;
            margin-left: 10px;

            @include media-breakpoint-up(sm) {
                padding: 10px 20px;
                font-size: 12px;
            }

            @include media-breakpoint-up(lg) {
                padding: 10px 25px;
                font-size: 12px;
            }

            @include media-breakpoint-up(xl) {
                padding: 12px 35px;
                font-size: 13px;
            }
        }
    }
}



.searchBox {
    width: 100%;

    @include media-breakpoint-up(sm) {
        height: auto;
    }

    @include media-breakpoint-up(lg) {
        height: calc(50% - 140px);
    }

    @include media-breakpoint-up(xl) {
        height: calc(50% - 215px);
    }

    @include flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .searchLabel {
        color: #fff;
        text-align: center;


        @include media-breakpoint-up(sm) {
            font-size: 22px;
            padding-bottom: 30px;
            padding-top: 20px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 22px;
            padding-bottom: 30px;
            padding-top: 0px;
        }

        @include media-breakpoint-up(xl) {
            font-size: 34px;
            padding-bottom: 24px;
            padding-top: 0px;
        }
    }

    .searchInput {
        position: relative;

        @include media-breakpoint-up(sm) {
            width: 80%;
        }

        @include media-breakpoint-up(lg) {
            width: 40%;
        }

        @include media-breakpoint-up(xl) {
            width: 40%;
        }

        input[type=text] {
            width: 100%;
            font-family: 'Poppins', sans-serif;
            border-radius: 40px;
            border: none;
            background-color: #fff;
            color: rgba(0, 0, 0, .6);


            @include media-breakpoint-up(sm) {
                font-size: 16px;
                padding: 10px 20px;
                height: 44px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 16px;
                padding: 10px 20px;
                height: 44px;
            }

            @include media-breakpoint-up(xl) {
                font-size: 24px;
                padding: 15px 25px;
                height: 66px;
            }
        }

        button {
            position: absolute;
            top: 0px;
            right: 10px;
            border: none;
            cursor: pointer;
            background-color: transparent;

            img {
                width: 100%;
            }

            @include media-breakpoint-up(sm) {
                width: 44px;
                height: 44px;
                padding: 10px 12px;
            }

            @include media-breakpoint-up(lg) {
                width: 44px;
                height: 44px;
                padding: 10px 12px;
            }

            @include media-breakpoint-up(xl) {
                width: 66px;
                height: 66px;
                padding: 10px 20px;
            }
        }
    }
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, .3);
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(0, 0, 0, .3);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(0, 0, 0, .3);
}

.welcomeNote {
    width: 100%;

    @include media-breakpoint-up(sm) {
        height: auto;
    }

    @include media-breakpoint-up(lg) {
        height: calc(50% - 140px);
    }

    @include media-breakpoint-up(xl) {
        height: calc(50% - 215px);
    }

    border-top: 1px solid rgba(255, 255, 255, .2);
    padding: 0px 30px;
    @include flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    h3 {
        font-weight: 900;
        color: #fff;
        margin: 0px;

        span {
            font-weight: normal;
        }

        @include media-breakpoint-up(sm) {
            font-size: 16px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 16px;
        }

        @include media-breakpoint-up(xl) {
            font-size: 24px;
        }
    }

    h4 {
        font-weight: normal;
        color: #fff;
        margin: 0px;

        @include media-breakpoint-up(sm) {
            font-size: 22px;
            margin-top: 20px;
            margin-bottom: 20px
        }

        @include media-breakpoint-up(lg) {
            font-size: 22px;
            margin-top: 20px;
            margin-bottom: 0px
        }

        @include media-breakpoint-up(xl) {
            font-size: 34px;
            margin-top: 30px;
            margin-bottom: 0px
        }
    }
}

.footerBox {
    width: 100%;

    bottom: 0px;
    background-color: #fff;
    padding: 0px 30px;
    @include flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-up(sm) {
        height: 73px;
        position: relative;
        flex-direction: column;
    }

    @include media-breakpoint-up(lg) {
        height: 73px;
        position: fixed;
        flex-direction: row;
    }

    @include media-breakpoint-up(xl) {
        height: 107px;
        position: fixed;
        flex-direction: row;
    }

    .linkBox {
        color: #585858;

        a {
            text-decoration: none;
            color: #585858;
        }
    }

    .copyBox {
        color: #585858;
    }

    .linkBox,
    .copyBox {
        @include media-breakpoint-up(sm) {
            font-size: 12px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 12px;
        }

        @include media-breakpoint-up(xl) {
            font-size: 14px;
        }
    }

    .corporateLogo {
        img {
            width: 100%;
        }

        @include media-breakpoint-up(sm) {
            width: 45px;
        }

        @include media-breakpoint-up(lg) {
            width: 45px;
        }

        @include media-breakpoint-up(xl) {
            width: 68px;
        }
    }
}

.darkOverlay {
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    @include flex;
    justify-content: center;
    align-items: center;

    .singUpBox {
        background-color: #fff;
        border-radius: 3px;

        @include media-breakpoint-up(sm) {
            width: 100%;
            padding: 20px 25px;
        }

        @include media-breakpoint-up(lg) {
            width: 25%;
            padding: 40px 45px;
        }

        @include media-breakpoint-up(xl) {
            width: 25%;
            padding: 66px 75px;
        }

        h2 {
            color: #585858;
            text-align: center;
            margin:0px;

            @include media-breakpoint-up(sm) {
                font-size: 20px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 20px;
            }

            @include media-breakpoint-up(xl) {
                font-size: 28px;
            }
        }

        h3 {
            color: #585858;
            text-align: center;
            font-weight: normal;
            margin: 0px;

            @include media-breakpoint-up(sm) {
                font-size: 12px;
                margin-bottom: 15px;
                margin-top: 10px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 14px;
                margin-bottom: 20px;
                margin-top: 15px;
            }

            @include media-breakpoint-up(xl) {
                font-size: 16px;
                margin-bottom: 40px;
                margin-top: 20px;
            }
        }

        input {
        	width: 100%;
        	border-radius: 3px;
        	border:1px solid #e4e4e4;
        	font-family: 'Poppins', sans-serif;
        	color: #838383;
            @include media-breakpoint-up(sm) {
            	padding: 8px 10px;
            	margin-bottom: 8px;
            	font-size: 12px;
            }

            @include media-breakpoint-up(lg) {
            	padding: 10px 15px;
            	margin-bottom: 10px;
            	font-size: 13px;
            }

            @include media-breakpoint-up(xl) {
            	padding: 18px 24px;
            	margin-bottom: 15px;
            	font-size: 16px;
            }
        }
        .orBox{
        	position: relative;
        	text-align: center;
        	hr{
        		border:1px solid #e8e8e8;
        		margin-top: 10px;
        		position: absolute;
        		width: 100%;
				margin-top: 12px;
        	}
        	label{
        		display: inline-block;
        		background-color: #fff;
        		position: relative;
        		padding: 0px 25px;
        	}
        }
    }
}