body {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif; }

* {
  box-sizing: border-box;
  outline: none; }

.backgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  background-image: url("../images/background_alumfy.jpg");
  background-size: 100%; }

.topHeader {
  width: 100%;
  background-color: #fff;
  padding: 0px 30px;
  box-sizing: border-box;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center; }
  @media (min-width: 300px) {
    .topHeader {
      height: 77px; } }
  @media (min-width: 992px) {
    .topHeader {
      height: 77px; } }
  @media (min-width: 1600px) {
    .topHeader {
      height: 115px; } }
  .topHeader .brandLogo img {
    width: 100%; }
  @media (min-width: 300px) {
    .topHeader .brandLogo {
      width: 150px; } }
  @media (min-width: 992px) {
    .topHeader .brandLogo {
      width: 150px; } }
  @media (min-width: 1600px) {
    .topHeader .brandLogo {
      width: 230px; } }

.subHeader {
  width: 100%;
  background-color: #fff;
  padding: 0px 30px;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center; }
  @media (min-width: 300px) {
    .subHeader {
      height: 130px; } }
  @media (min-width: 992px) {
    .subHeader {
      height: 130px; } }
  @media (min-width: 1600px) {
    .subHeader {
      height: 200px; } }
  .subHeader .loginBox {
    width: 40%; }
    .subHeader .loginBox h2 {
      margin: 0px;
      padding: 0px;
      font-weight: bold;
      font-size: 16px;
      color: #585858;
      padding-bottom: 10px; }
      .subHeader .loginBox h2 span {
        font-weight: normal; }
    .subHeader .loginBox .formSection {
      width: 100%;
      display: flex;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      justify-content: space-between;
      align-items: flex-start; }
      .subHeader .loginBox .formSection .loginText,
      .subHeader .loginBox .formSection .loginPass {
        width: 40%; }
        .subHeader .loginBox .formSection .loginText input[type=text],
        .subHeader .loginBox .formSection .loginText input[type=password],
        .subHeader .loginBox .formSection .loginPass input[type=text],
        .subHeader .loginBox .formSection .loginPass input[type=password] {
          width: 100%;
          background-color: #fff;
          border: 2px solid #e1e1e1;
          border-radius: 30px;
          box-sizing: border-box;
          font-family: 'Poppins', sans-serif;
          width: 100%; }
          @media (min-width: 300px) {
            .subHeader .loginBox .formSection .loginText input[type=text],
            .subHeader .loginBox .formSection .loginText input[type=password],
            .subHeader .loginBox .formSection .loginPass input[type=text],
            .subHeader .loginBox .formSection .loginPass input[type=password] {
              padding: 8px 12px;
              font-size: 12px; } }
          @media (min-width: 992px) {
            .subHeader .loginBox .formSection .loginText input[type=text],
            .subHeader .loginBox .formSection .loginText input[type=password],
            .subHeader .loginBox .formSection .loginPass input[type=text],
            .subHeader .loginBox .formSection .loginPass input[type=password] {
              padding: 8px 15px;
              font-size: 12px; } }
          @media (min-width: 1600px) {
            .subHeader .loginBox .formSection .loginText input[type=text],
            .subHeader .loginBox .formSection .loginText input[type=password],
            .subHeader .loginBox .formSection .loginPass input[type=text],
            .subHeader .loginBox .formSection .loginPass input[type=password] {
              padding: 10px 20px;
              font-size: 13px; } }
      .subHeader .loginBox .formSection .logBtn {
        background-color: #002379;
        border: none;
        border-radius: 30px;
        color: #fff;
        font-family: 'Poppins', sans-serif; }
        @media (min-width: 300px) {
          .subHeader .loginBox .formSection .logBtn {
            padding: 10px 20px;
            font-size: 12px; } }
        @media (min-width: 992px) {
          .subHeader .loginBox .formSection .logBtn {
            padding: 10px 25px;
            font-size: 12px; } }
        @media (min-width: 1600px) {
          .subHeader .loginBox .formSection .logBtn {
            padding: 12px 35px;
            font-size: 13px; } }

/*# sourceMappingURL=base.css.map */
